In [61]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

np.random.seed(1)

In [19]:
PATH = "lab/data/"
df_raw = pd.read_csv(f'{PATH}Credit.csv')
df_raw = df_raw.drop("Unnamed: 0", axis=1)
df = pd.get_dummies(df_raw)
df_ari = pd.get_dummies(df_raw)
y = df_ari.apply(lambda row: 1 if row['Income'] > 50 else 0, axis=1)  # making new column

## KNeighborsClassifier

In [35]:
kf = KFold(n_splits=5, shuffle=True, random_state=2)

In [57]:
# np.where(np.isnan(df))
df.fillna(df.mean())
df.dropna(inplace=True)
df.head()

,Income,Limit,Rating,Cards,Age,Education,Balance,Gender_ Male,Gender_Female,Student_No,Student_Yes,Married_No,Married_Yes,Ethnicity_African American,Ethnicity_Asian,Ethnicity_Caucasian
0,14.891,3606,283,2,34,11,333,1,0,1,0,0,1,0,0,1
1,106.025,6645,483,3,82,15,903,0,1,0,1,0,1,0,1,0
2,104.593,7075,514,4,71,11,580,1,0,1,0,1,0,0,1,0
3,148.924,9504,681,3,36,11,964,0,1,1,0,1,0,0,1,0
4,55.882,4897,357,2,68,16,331,1,0,1,0,0,1,0,0,1

In [67]:
for i, (train_index, test_index) in enumerate(kf.split(df_ari)):
    print(f"{i}-th fold:")
    X_train, X_test = df_ari.iloc[train_index], df_ari.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    knn = KNeighborsClassifier(n_neighbors=5)
    knn.fit(X_train, y_train)
    knn_score=knn.score(X_test, y_test)
    print(f"{knn_score=}")

    dtc = DecisionTreeClassifier()
    dtc = dtc.fit(X_train, y_train)
    dtc_score = dtc.score(X_test, y_test)
    print(f"{dtc_score=}")
    print()

0-th fold:
knn_score=0.9125
dtc_score=1.0

1-th fold:
knn_score=0.9375
dtc_score=1.0

2-th fold:
knn_score=0.8875
dtc_score=1.0

3-th fold:
knn_score=0.925
dtc_score=1.0

4-th fold:
knn_score=0.95
dtc_score=1.0

In [41]:
# len(X_train)
len(X_test)
# len(X_train)

80